.mainDiv {
  width: 90%;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.eachUserDiv {
  padding: 1.2rem;
  margin: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.eachUserDiv h4 {
  color: black;
  cursor: pointer;
}

.fallbackText {
  font-weight: bold;
  grid-column: 1 / span 3;
  text-align: center;
}

.deleteButton {
  cursor: pointer;
}
